.carList {
	height: 100vh;
}

.userListUser {
	display: flex;
	align-items: center;
}

.userListImg {
	display: flex;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
	font-size: x-large;
	background-color: #0289b2;
	color: rgb(154, 213, 236);
	text-transform: uppercase;
}

.userListEdit {
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: #cdeae5;
	color: white;
	cursor: pointer;
	margin-right: 20px;
}

.userListDelete {
	color: #ec9a9a;
	cursor: pointer;
}

.carListButtons a {
	text-decoration: none;
}

.carListButtons button {
	background-color: #0289b2;
}
