.mapContainer {
	position: relative;
	border-bottom: 8px;
	width: 100%;
}

.dispatch {
	position: absolute;
	min-width: 28%;
	padding: 8px;
	margin: 8px;
	top: 0;
	right: 0;
	background-color: #b2e8f8a9;
	border: 1px solid rgb(154, 213, 236);
}
.dispatchTitle {
	font-weight: bold;
	color: #0289b2;
	text-align: center;
}

.requestDetails {
	margin-top: 20px;
	text-align: center;
}

.requestInfo {
	margin-top: 12px;
	display: flex;
	justify-content: center;
}

.infoKey {
	margin-right: 4px;
}

.infoValue {
	font-weight: bold;
}

.waiting {
	margin-top: 50px;
	text-align: center;
	color: #0289b2;
}

.inputField {
	margin: 12px 0;
	display: flex;
	align-items: center;
	width: 100%;
}

.search {
	width: 400px;
	margin: 8px;
	position: relative;
}
.search #combo {
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 10px;
	width: 94%;
	outline: none;
	font: inherit;
}

.comboList {
	z-index: 100;
	position: absolute;
}

.inputGroup {
	border: 1px solid lightgrey;
	display: flex;
	border-radius: 4px;
}
.destInput {
	flex-grow: 1;
}
.destLabel {
	margin: auto 8px;
	color: rgb(122, 121, 121);
}

.destInput #combo {
	border: none;
	padding: 12px 0;
	width: 92%;
	outline: none;
	font: inherit;
}

.dispatchForm {
	position: absolute;
	width: 40%;
	height: 500px;
	overflow: scroll;
	padding: 8px;
	margin: 8px;
	right: 0;
	background-color: #ffffff;
	border: 1px solid rgb(154, 213, 236);
	z-index: 100;
	border-radius: 4px;
}

.dispatchForm h1 {
	text-align: center;
	margin-bottom: 4px;
}

.forSearch {
	margin: 12px;
	padding-bottom: 12px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(50, 69, 77, 0.699);
	z-index: 5;
}

.dispatchButton button {
	width: 180px;
	height: 40px;
	position: absolute;
	margin: 8px;
	right: 0;
	top: 0;
	background-color: #0289b2;
	color: #ffffff;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
	font: inherit;
	border: none;
	z-index: 50;
}

.inputWrapper {
	width: 95%;
	display: flex;
	align-items: center;
}
.line {
	flex-grow: 1;
}

.dispatchButtons {
	display: flex;
	justify-content: space-evenly;
}
